body {
  background-color: #24282c;
  color: aliceblue;
}

h4, a{
  color: yellow;
}

textarea {
  width: 90vw;
  white-space: pre;
}

.code {
  background-color: #343a40;
  color: #7ec699;
}

.indent1 {
  text-indent: 20px;
}

.indent2 {
  text-indent: 40px;
}