body {
  background-color: #24282c;
  color: aliceblue;
}

h2, h4, a{
  color: yellow;
}

textarea {
  width: 90vw;
  white-space: pre;
}

.code {
  background-color: #343a40;
  color: #7ec699;
}

.indent1 {
  text-indent: 20px;
}

.indent2 {
  text-indent: 40px;
}

input {
  border: 2px solid #000;
  margin-bottom: 15px;
  padding: 5px;
  border-radius: 5px;
}

input:invalid {
  border-color: red;
}

input:valid {
  border-color: green;
}

input:focus {
  background-color: rgb(173, 234, 255);
}